@font-face {
    font-family: 'GeForce Bold';
    src: url('GeForce-Bold.eot');
    src: local('GeForce Bold'), local('GeForce-Bold'),
        url('GeForce-Bold.eot?#iefix') format('embedded-opentype'),
        url('GeForce-Bold.woff') format('woff'),
        url('GeForce-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

*{
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'GeForce Bold';

}

section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

header .logo{
    position:relative;
    max-width: 240px;
}

header ul{
    position: relative;
}

header ul li{
    list-style: none;
    
    display: inline;
    margin-left: 40px;
}

header ul li a{
   font-size: 30px;
    color: #333;
    text-decoration: none;
}